.dishcards.flex-col.m-5.border-solid.border-black.border-2.bg-yellow-lighter.p-4.rounded-lg.text-center
    %h2.p-2.border-b.border-black= @dish.name
    %p.p-2.font-hairline.tracking-wide= @dish.description
    %h3.p-2= "#{@dish.price} SEK"